/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

/* CABEÇALHO */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}
header.scrolled {
  background-color: rgba(0, 0, 0, 0.6); /* branco com transparência */
  border-bottom: 1px solid #ccc;
  backdrop-filter: blur(5px); /* efeito vidro fosco */
  -webkit-backdrop-filter: blur(5px); /* pra funcionar no Safari também */
}

header.scrolled nav ul li a {
  color: white; /* cor dos links no cabeçalho com fundo branco */
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  width: 180px;
  height: auto;
  transition: widh 0.3s ease;
}
header.scrolled .logo img {
  width: 120px;
}

.linha-branca {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 3px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}


nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
}
nav ul li a {
  font-family: 'Boldonse', cursive;
}
/* BANNER TOPO */
.banner-topo {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.conteudo-banner {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem 3rem;
  border-radius: 12px;
}

.conteudo-banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.conteudo-banner p {
  font-size: 1.2rem;
}

.btn {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffd700;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}
.sessao-texto-imagem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.sessao-texto-imagem .texto {
  flex: 1;
  min-width: 300px;
}

.sessao-texto-imagem .texto h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.sessao-texto-imagem .texto p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.sessao-texto-imagem .imagem {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.sessao-texto-imagem .imagem img {
  max-width: 100%;
  border-radius: 12px;
}

.btn:hover {
  background-color: #e6b800;
}

/* RODAPÉ */
footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 2rem;
}
